@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --btn-color: rgba(128, 128, 128, 0.6);
  --btn-hover-color: rgba(128, 128, 128, 0.7);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-info,
.work-exp,
.education-exp {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0;
}

input {
  width: 400px;
  height: 18px;
  margin: 5px 0 5px 0;
}

.delete-position-btn {
  width: fit-content;
  height: 25px;
  align-self: flex-end;
}

button {
  font-family: inherit;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.877);
  background-color: var(--btn-color);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover-color);
}

button:active {
  background-color: var(--btn-hover-color);
  transform: scale(0.95);
}

.form-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit-btn,
#submit-btn {
  font-size: 16px;
  width: 100px;
}

.work-info-submitted,
.education-info-submitted {
  display: grid;
  grid-template-areas:
    'positionDegreeTitle period'
    'companySchoolName .';
  align-items: center;
}

.work-period,
.study-period {
  grid-area: period;
  justify-self: end;
  font-size: 18px;
  margin: 10px 0;
}

.position-title,
.study-title {
  grid-area: positionDegreeTitle;
  font-size: 18px;
  margin: 10px 0;
}

.company-name,
.school-name {
  grid-area: companySchoolName;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}
